.home_hobbies
{
    margin-top: 0px;
    background-color: #EDE6DB;
    color: #1D5C63;
    /* display: flex; */
    padding-bottom: 40px;
}

.hobbies_header
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}


.hobbies_gallery {
  border: 1px solid #ccc;
  border-radius: 20px;
}

.hobbies_gallery:hover {
  transform: scale(1.03);
  border: 1px solid #417D7A;
}

.hobbies_gallery img {
  width: 100%;
  height: auto;
  border-radius: 19px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.hobbies_responsive {
  padding: 20px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 1200px) {
  .hobbies_responsive {
    padding: 30px;
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 700px) {
  .hobbies_responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
