.home_content_main
{
    /* background-color: rgb(119, 119, 119); */
    display: flex;
    justify-content: center;
    /* position: absolute; */
    /* bottom: 0; */
    /* min-height: 100% !important; */
    min-height: calc(100vh - 2.5em);
}


.home_content
{
    display: flex;
    flex-direction: column;
    width: 1450px;
    margin-top: 40px;
    min-height: 100% !important;
    /* height: 1; */
    /* margin-bottom: 100px; */
    /* padding-bottom: 100%; */
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    /* margin: 20px; */
}

img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0;
}

.home_intro
{
    margin-top: 0px;
    background-color: #1A3C40;
    color: #EDE6DB;
    /* display: flex; */
    padding-bottom: 40px;
}

.intro_header
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.home_content h1
{
    margin: 0;
    font-size: 39px;
}

.home_content h4
{
    margin: 0;
    margin-top: 20px;
    font-weight: lighter;
}

.intro_text
{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 60px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

.home_intro h2
{
    font-size: 29px;
    /* font-weight: lighter; */
    text-align: center;
}

.intro_skills
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.intro_skills div
{
    width: 300px;
    margin: 10px;
}

.intro_skills li
{
    font-size: 18px;
    font-weight: lighter;
}


.intro_skills h3
{
    text-align: left;
    font-size: 20px;
}


.home_project
{
    margin-top: 0px;
    background-color: #417D7A;
    color: #EDE6DB;
    /* display: flex; */
    padding-bottom: 40px;
}

.h_project_header
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}


.h_project_list
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.project
{
    background-color: #7d4144;
    color: #EDE6DB;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    width: 300px;
    height: 250px;
    margin: 10px;
}

.project:hover
{
    transform: scale(1.05);
}

.project_name
{
    height: 60px;
    font-weight: bold;
    font-size: 18px;
    margin: 20px;
    text-align: center;
}

.project_description
{
    margin: 20px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: lighter;
}


.project_description a
{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
