.footer
{
    width:100%;
}

.foot_content
{
    /* background-color: rgb(54, 54, 54); */
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}
