.learning_page
{
    /* background-color: rgb(119, 119, 119); */
    display: flex;
    justify-content: center;
    /* position: absolute; */
    /* bottom: 0; */
    /* min-height: 100% !important; */
    min-height: calc(100vh - 2.5em);
}

.learning_page_content
{
    display: flex;
    flex-direction: column;
    width: 1450px;
    margin-top: 40px;
    min-height: 100% !important;
    /* height: 1; */
    /* margin-bottom: 100px; */
    /* padding-bottom: 100%; */
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    /* margin: 20px; */
}

.code_content
{
    /* background-color: aqua; */
    margin: 50px;
}

.code_content h2
{
    color: #1D5C63;
}

.code_block
{
    max-height: 500px;
    border: 8px solid #333;
    border-radius: 5px;
    background-color: #333;
    overflow-y: scroll;
}

.code_block::-webkit-scrollbar
{
    border-radius: 8px;
    width: 3px;
    padding-right: 10px;
    background-color:#00000000;
}

.code_block::-webkit-scrollbar-thumb
{
    background: #1D5C63;
    border-radius: 10px;
    background-clip: padding-box;
}


.my_code
{
    color: white;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: pre-wrap;
}


/* @media only screen and (max-width: 500px) {
    .code_block {
      width: 100%;
    }
  } */
